<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue系列课程</title>
</head>
<body>
<div id="app">

    <!--
            computed:  计算属性  推荐
                作用:  用来在vue实例中完成相关业务计算工作    日后在将某个数据渲染页面时如果该数据需要经过业务处理之后再渲染就可以使用computed
                好处:  提升vue运行性能  主要使用computed进行计算相关处理 会将第一次计算结果进行缓存,便于日后页面多次使用
                使用:  {{属性名}}
        -->


    <h1>{{msg}} {{counts}}</h1>
    <input type="text" v-model="item.id">
    <input type="text" v-model="item.name">
    <input type="text" v-model="item.price">
    <input type="text" v-model="item.num">
    <button @click="addItem">添加</button>
    <br><br><br><br>

    <table border="1" width="50%">
        <tr>
            <th>编号</th>
            <th>商品名称</th>
            <th>商品单价</th>
            <th>购买数量</th>
            <th>小计</th>
        </tr>
        <tr v-for="(v,i) in list">
            <td>{{v.id}}</td>
            <td>{{v.name}}</td>
            <td>{{v.price}}</td>
            <td><input type="button" value="-" @click="decrease(i)">{{v.num}}<input type="button" value="+" @click="increase(i)" ></td>
            <td>{{v.price * v.num}}</td>
        </tr>
    </table>
    <h3>总计：{{total}}</h3>
</div>
</body>
</html>
<script src="js/vue.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            msg: "购物车案例",
            item: {},
            list: [],
            total: 0,

        },
        methods: {
            addItem() {
                // 判断是否有商品信息
                if (!this.item.id) {
                    alert("请先输入商品信息")
                    return;
                }
                this.list.push(this.item)
                this.item = {}
            },
            increase(i) {
                this.list[i].num++;
            },
            decrease(i){
                if(this.list[i].num<=1){
                    return;
                }
                this.list[i].num--;
            },

        },
        computed:{
            counts(){
                return this.total+=10;
            }
        }

    })
</script>